@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body a {
  text-decoration: none;
  color: #140d4f;
}

body a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #140d4f;
  color: #fafaff;
  padding: 1vw;
  font-size: 1em;
  width: 100vw;
  height: 6vh;
}

.nav a {
  color: #fafaff;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-header {
  background-color: #84acce;
  padding: 2vh;
}

.home-header h1 {
  margin: 0;
}

.search-box {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.search-input {
  width: 40vw;
  height: 3vh;
  border-radius: 10px;
  border: 1px solid #140d4f;
}

.search-button {
  height: 3.2vh;
  width: 10vw;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #e4d9ff;
  color: #140d4f;
  border: 1px solid #140d4f;
  font-size: 18px;
  cursor: pointer;
}

.little-screen-show {
  display: none;
}

.mobile-hide {
  display: none;
}

.mobile-show {
  font-size: 0.6em;
}

@media only screen and (max-width: 650px) {
  .search-button {
    font-size: 10px;
  }

  .big-screen-show {
    display: none;
  }

  .little-screen-show {
    display: flex;
    margin-top: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
  }

  .nav {
    justify-content: space-between;
  }
}

/* 
body a:hover {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  height: 30vh;
}

.show-page-flag {
  max-height: 20vh;
  max-width: 40vw;
  width: auto;
  height: auto;
  border: 1px solid black;
  align-self: center;
  box-shadow: 2px 2px #6da9d2;
}

.flag-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 4em;
  padding: 40px;
  justify-content: center;
  text-decoration: none;
}

.flag-index a {
  text-decoration: none;
}

.flag-index a:hover {
  text-decoration: none;
}

.flag-index-flag {
  animation: slow-appear 0.5s linear;
  text-decoration: none;
}

.continents-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.continents-container h2 {
  font-size: 1.5em;
}

.continents-container button {
  font-size: small;
  background-color: white;
  color: black;
  height: 4vh;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: lightsteelblue;
  color: white;
  padding: 15px;
  font-size: 1em;
  width: 100vw;
}

.nav a {
  color: blue;
  text-decoration: none;
}

.country-index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.country-index button {
  background-color: #ebebeb;
  margin: 5px;
  border: 0;
  cursor: pointer;
  animation: slow-appear 0.3s linear;
}

.country {
  display: flex;
  flex-direction: column;
}

.map-container {
  align-self: center;
  width: 80vw;
  height: 40vh;
  margin-bottom: 50px;
}

.first-letter-organizer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.letter-category {
  font-size: 3em;
}

.search-box {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search-input {
  font-family: "Raleway", sans-serif;
}

.search-title {
  color: #333;
}

.search-button {
  /* box-shadow: 2px 2px #128337; */
/* background-color: white;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
} */
/* 
.continents-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-container {
  align-self: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.continent-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1em;
  padding: 10vw;
  justify-content: space-around;
}

.continent-country {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1vw;
  background-color: white;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px;
  width: 20vw;
  box-shadow: 5px 5px #128337;
  animation: slow-appear 0.5s linear;
}

.continent-country p,
a {
  color: black;
  text-decoration: none;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.random-country {
  animation: slow-appear 0.3s linear;
}

@keyframes slow-appear {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
} */
