body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  height: 30vh;
}

.show-page-flag {
  height: 20vh;
  border: 1px solid black;
}

.flag-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 4em;
}

.flag-index a {
  text-decoration: none;
}

.continents-container {
  display: flex;
  flex-direction: row;
}

.continents-container h2 {
  font-size: 2em;
}

.continents-container button {
  font-size: small;
  background-color: lightgray;
  color: black;
  height: 4vh;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: lightsteelblue;
  color: white;
  padding: 15px;
  font-size: 1em;
}

.nav a {
  color: blue;
  text-decoration: none;
}

.country-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-index a {
  text-decoration: none;
  color: black;
}

.country-index h2 {
  width: 30px;
}
